[submodule "api"]
	path = api
	url = https://github.com/BlackIQ/api.amirhossein.info
[submodule "client"]
	path = client
	url = https://github.com/BlackIQ/amirhossein.info
[submodule "gateway"]
	path = gateway
	url = https://github.com/BlackIQ/resume-gateway
